body {
  text-align: center;
  color: aliceblue;
}
.table-holder {
  text-align: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1551129614-f184164e7b56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  text-align: center;
  /* background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}
